<div class="container mb-3">
  <h1>Ajoute une liste</h1>
  <div class="row justify-content-center">
    <div class="col-4">
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
